# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create simple Markdown and code cells in Jupyter Notebook  
- Use basic Python operations for data manipulation  
- Understand how to document work using Markdown

Some of the commonly used libraries used by Data Scientists include:

1) Python.
2) R.
3) SQL.

Some of the commonly used libraries used by Data Scientists include:

1) Pandas
2) NumPy
3) Matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Spark             |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
minutos = 200
horas = minutos / 60
print(horas)

3.3333333333333335

## Author

Carlos Eduardo Ilizarbe Sulca